<div class="project-horizontal-card mb-4">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}" class="project-horizontal-link">
    <div class="project-horizontal-inner d-flex align-items-stretch" style="height:180px;">
      {% if project.img %}
        <div class="project-horizontal-img-box">
          <img src="{{ project.img | relative_url }}"
               alt="project thumbnail"
               class="project-horizontal-img"
          />
        </div>
      {% endif %}
      <div class="project-horizontal-body">
        <h3 class="project-horizontal-title">{{ project.title }}</h3>
        {% if project.subtitle %}
          <div class="project-horizontal-subtitle">{{ project.subtitle }}</div>
        {% endif %}
        {% if project.description %}
          <div class="project-horizontal-desc">{{ project.description }}</div>
        {% endif %}
      </div>
    </div>
  </a>
</div>
